 {% extends "base.html" %}

 {% block content %}
<body>
    

    <!-- ! modal search start -->
    <div class="modal-search">
        <div class="modal-wrapper">
            <h3 class="modal-title">Search for products</h3>
            <p class="modal-text">
                Start typing to see products you are looking for.
            </p>
            <div class="search">
                <input type="text" placeholder="Search a product" />
                <button><i class="bi bi-search"></i></button>
            </div>
            </form>
            <div class="search-result">
                <div class="search-heading">
                    <h3>RESULT FROM PRODUCT</h3>
                </div>
                <div class="results">

                </div>
            </div>
            <i class="bi bi-x-circle" id="close-modal-search"></i>
        </div>
    </div>
    <!-- ! modal search end -->

 

    <!-- ! cart start -->
    <section class="cart-page">
        <div class="container">
            <div class="cart-page-wrapper">
                <form class="cart-form">
                    <div class="free-progress-bar">
                        <p class="progress-bar-title">
                            Add <strong>$161.00</strong> to cart and get free shipping! 
                        </p>
                        <div class="progress-bar">
                            <span class="progress"></span>
                        </div>
                    </div>
                    <div class="shop-table-wrapper">
                        <table class="shop-table">
                            <thead>
                                <th class="product-thumbnail">&nbsp;</th>
                                <th class="product-thumbnail">&nbsp;</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-subtotal">Subtotal</th>
                            </thead>
                            <tbody class="cart-wrapper" id="cart-product">

                            </tbody>
                        </table>
                        <div class="action-wrapper">
                            <div class="coupon">
                                <input type="text" class="input-text" placeholder="Coupon Code">
                                <button class="btn btn-black btn-md">Apply Coupon</button>
                            </div>
                            <div class="update-coupon">
                                <button class="btn btn-red btn-md">Update Cart</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="cart-collaterals">
                    <div class="cart-totals">
                        <h2>Cart Totals</h2>
                        <table>
                            <tbody>
                                <tr class="cart-subtotal">
                                    <th>Subtotal</th>
                                    <td>
                                        <span id="subtotal">
                                            $316.00
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Shipping</th>
                                    <td>
                                        <ul>
                                            <li>
                                                <label>
                                                    Fast Cargo :$15.00
                                                    <input type="checkbox" id="fast-cargo">
                                                </label>
                                            </li>
                                            <li>
                                                <a href="#">Change Address</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td>
                                        <strong id="cart-total">$316.00</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="checkout">
                            <button class="btn btn-lg btn-red">Proceed to checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ! cart end -->

   

    <!-- scripts start -->
    <script src="js/main.js" type="module"></script>
    <script src="js/cart.js"></script>
    <!-- scripts end -->

</body>
{% endblock %}
</html>